@mixin position($type, $left: null, $right: null, $top: null, $bottom: null) { 
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
 }

@mixin buttons($background , $border-color, $text-color , $display) {
  background-color: $background;
  border: 2px solid $border-color;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  color: $text-color;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: $display;
  font-size: 25px;
}

/*-----------------------------------*/
/*---------Floating button-----------*/
/*-----------------------------------*/

.botom-btn {
    @include position(fixed, $top: 40px, $left: 40px);
    background-color: #165882;
    border-radius: 100%;
}
