@mixin buttons($background , $border-color, $text-color , $display) {
  background-color: $background;
  border: 2px solid $border-color;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  color: $text-color;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: $display;
  font-size: 25px;
}

/*-----------------------------------*/
/*---------Floating button-----------*/
/*-----------------------------------*/

.botom-btn {
    position:fixed;
    background-color: #165882;
    border-radius: 100%;
    right:0;
    bottom:0;
    margin: 40px; 
}
